.col-4-4 {
      display: flex;
      margin-top: 70px;
      justify-content: center;
  }
  .col-3-4 {
      margin-right: 40px;
      width: 50vw;
  }
  .cont {
    padding: 25px 30px;
    box-shadow: 1px 1px 15px #00000038;
    border-radius: 6px;
    margin-bottom: 20px;
}

  .col-1-4 {
      width: 20vw;
  }
  .cont-header {
    font-size: 16pt;
    font-weight: 900;
    margin-bottom: 30px;
}
