.section-title {
      font-weight: 900;
      margin-bottom: 15px;
  }
  .section-second {
      margin-bottom: 65px;
      font-size: 14pt;
      font-weight: 500;
      text-transform: uppercase;
      opacity: 0.5;
  }
.post-list {
      padding: 50px;
      padding-top: 0;
}
.container {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(600px,2fr));
      grid-gap: 40px;
  }