.post-extended {
      display: flex;
  }
  img.post-ext-img.post-image {
      border-radius: unset;
      width: 40vw;
      height: 100vh;
      /* position: sticky; */
  }
  .post-content.post-ext {
      padding: 60px;
  }
  .post-title.post-ext {
      font-size: 32pt;
      font-weight: 800;
      margin-bottom: 30px;
  }
  .meta-data.post-ext {
      margin-bottom: 50px;
      color: #393939;
      font-weight: 700;
  }
  .post-desc.post-ext {
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 20px;
  }